{% extends 'base.html' %}

{% block content %}
    <h1>Zegarki w bazie danych</h1>
    {% if watches %}
        <table>
            <tr>
                <th>Kod produktu</th>
                <th>Grawer</th>
                <th>Dla kogo</th>
                <!-- ... -->
            </tr>
            {% for watch in watches %}
                <tr>
                    <td>{{ watch.kod_produktu }}</td>
                    <td>{{ watch.grawer }}</td>
                    <td>{{ watch.dla_kogo }}</td>
                    <!-- ... -->
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Brak zegarków w bazie danych.</p>
    {% endif %}
{% endblock %}
